<%- include("header", { title: "Admin panel", highlighting: true }) %>
		<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
			<symbol id="trash-full" viewBox="0 0 16 16">
				<path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
			</symbol>
			<symbol id="person-fill-exclamation" viewBox="0 0 16 16">
				<path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z"/>
				<path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 0-.5.5v1.5a.5.5 0 0 0 1 0V11a.5.5 0 0 0-.5-.5Zm0 4a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1Z"/>
			</symbol>
			<symbol id="eye-fill" viewBox="0 0 16 16">
				<path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
				<path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
			</symbol>
			<symbol id="plus-circle" viewBox="0 0 16 16">
				<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
				<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
			</symbol>
			<symbol id="pencil-fill" viewBox="0 0 16 16">
				<path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
			</symbol>
		</svg>
		<h1 class="mb-3">Admin panel</h1>
		<nav>
			<div class="nav nav-tabs" id="nav-tab" role="tablist">
				<button class="nav-link active" id="nav-users-tab" data-bs-toggle="tab" data-bs-target="#nav-users" type="button" role="tab" aria-controls="nav-users" aria-selected="true">Users</button>
				<button class="nav-link" id="nav-categories-tab" data-bs-toggle="tab" data-bs-target="#nav-categories" type="button" role="tab" aria-controls="nav-categories" aria-selected="false">Categories</button>
				<button class="nav-link" id="nav-tasks-tab" data-bs-toggle="tab" data-bs-target="#nav-tasks" type="button" role="tab" aria-controls="nav-tasks" aria-selected="false">Tasks</button>
			</div>
		</nav>
		<div class="tab-content" id="nav-tabContent">
			<div class="tab-pane fade show active" id="nav-users" role="tabpanel" aria-labelledby="nav-users-tab" tabindex="0">
				<table class="table last-col-small">
					<thead>
						<tr>
							<th>Username</th>
							<th>Role</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody class="placeholder-wave" id="users-tbody">
						<tr>
							<th><span class="placeholder col-12"></span></th>
							<td><span class="placeholder col-12"></span></td>
							<td><span class="placeholder col-12"></span></td>
						</tr>
						<tr>
							<th><span class="placeholder col-12"></span></th>
							<td><span class="placeholder col-12"></span></td>
							<td><span class="placeholder col-12"></span></td>
						</tr>
						<tr>
							<th><span class="placeholder col-12"></span></th>
							<td><span class="placeholder col-12"></span></td>
							<td><span class="placeholder col-12"></span></td>
						</tr>
					</tbody>
				</table>
				<nav aria-label="Users list navigation">
					<ul class="pagination" id="users-pagination">
						<li class="page-item"><a class="page-link disabled" href="#" data-page="prev">Previous</a></li>
						<li class="page-item"><a class="page-link active" href="#" data-page="1">1</a></li>
						<li class="page-item"><a class="page-link disabled" href="#" data-page="next">Next</a></li>
					</ul>
				</nav>
			</div>
			<div class="tab-pane fade" id="nav-categories" role="tabpanel" aria-labelledby="nav-categories-tab" tabindex="0">
				<button class="btn btn-primary mt-3" id="new-category-btn">
					<svg class="bi"><use href="#plus-circle"></use></svg>
					New category
				</button>
				<div class="mt-3 d-none" id="category-editor">
					<h3 id="category-edit-header">New category</h3>
					<form action="/admin/categories" method="post" id="category-form">
						<input type="text" name="descriptionFormat" class="d-none" value="md">
						<div class="mb-3">
							<label for="category-name" class="form-label">Category name</label>
							<input type="text" name="name" id="category-name" class="form-control" required>
						</div>
						<div class="mb-3">
							<div class="d-flex align-items-center justify-content-between">
								<label for="category-description" class="form-label">Description</label>
								<div class="mb-3 d-flex">
									<input type="checkbox" class="btn-check" id="preview-toggle" autocomplete="off">
									<label class="btn btn-outline-secondary btn-sm" for="preview-toggle">
										<svg class="bi"><use href="#eye-fill"></use></svg>
										Preview
									</label>
								</div>
							</div>
							<textarea name="description" id="category-description" rows="3" class="form-control mb-3"></textarea>
							<div id="description-preview" class="border border-1 rounded p-3 pb-0 d-none"></div>
						</div>
						<button type="submit" id="category-btn-submit" class="btn btn-success">Create</button>
						<button type="button" id="category-btn-cancel" class="btn btn-outline-danger">Cancel</button>
					</form>
				</div>
				<div class="accordion my-3" id="categoriesAccordionContainer"></div>
			</div>
			<div class="tab-pane fade" id="nav-tasks" role="tabpanel" aria-labelledby="nav-tasks-tab" tabindex="0"><h2>Tasks</h2></div>
		</div>
		<template id="user-row-template">
			<tr>
				<th data-cell-role="username"></th>
				<td data-cell-role="role"></td>
				<td>
					<button class="btn btn-outline-warning" type="button" data-button-action="role" aria-label="Toggle role">
						<svg class="bi"><use href="#person-fill-exclamation"></use></svg>
					</button>
					<button class="btn btn-outline-danger" type="button" data-button-action="delete" aria-label="Delete user">
						<svg class="bi"><use href="#trash-full"></use></svg>
					</button>
				</td>
			</tr>
		</template>
		<template id="pagination-link-template">
			<li class="page-item"><a class="page-link" href="#" data-page=""></a></li>
		</template>
		<template id="category-template">
			<div class="accordion-item">
				<h2 class="accordion-header" id="category-x">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#categoryCollapse-x" aria-expanded="false" aria-controls="categoryCollapse-x">
						Name goes here
					</button>
				</h2>
				<div id="categoryCollapse-x" class="accordion-collapse collapse" aria-labelledby="category-x" data-bs-parent="#categoriesAccordionContainer">
					<div class="accordion-body">
						<div>
							Content is innerHTMLed here
						</div>
						<button type="button" class="btn btn-primary mt-3">
							<svg class="bi"><use href="#pencil-fill"></use></svg>
							Edit category
						</button>
					</div>
				</div>
			</div>
		</template>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js" integrity="sha512-bgHRAiTjGrzHzLyKOnpFvaEpGzJet3z4tZnXGjpsCcqOnAH6VGUx9frc5bcIhKTVLEiCO6vEhNAgx5jtLUYrfA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/4.2.5/marked.min.js" integrity="sha512-5JZDwulT+S/K8p/KO4tikNKA5t6Ebb+tqPwT7Ma+lVpJuS4G+Z0lSktWcl8hymXeFqCprGEuKGOCrKjyulql/A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="/static/js/admin_client.js" type="module"></script>
<%- include("footer") %>
