<%- include("header", { title: "Admin panel", highlighting: true }) %>
		<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
			<symbol id="trash-full" viewBox="0 0 16 16">
				<path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
			</symbol>
			<symbol id="person-fill-exclamation" viewBox="0 0 16 16">
				<path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z"/>
				<path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 0-.5.5v1.5a.5.5 0 0 0 1 0V11a.5.5 0 0 0-.5-.5Zm0 4a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1Z"/>
			</symbol>
			<symbol id="eye-fill" viewBox="0 0 16 16">
				<path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
				<path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
			</symbol>
			<symbol id="plus-circle" viewBox="0 0 16 16">
				<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
				<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
			</symbol>
			<symbol id="pencil-fill" viewBox="0 0 16 16">
				<path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
			</symbol>
			<symbol id="x-lg" viewBox="0 0 16 16">
				<path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
			</symbol>
		</svg>
		<h1 class="mb-3">Admin panel</h1>
		<nav>
			<div class="nav nav-tabs" id="nav-tab" role="tablist">
				<button class="nav-link active" id="nav-users-tab" data-bs-toggle="tab" data-bs-target="#nav-users" type="button" role="tab" aria-controls="nav-users" aria-selected="true">Users</button>
				<button class="nav-link" id="nav-categories-tab" data-bs-toggle="tab" data-bs-target="#nav-categories" type="button" role="tab" aria-controls="nav-categories" aria-selected="false">Categories</button>
				<button class="nav-link" id="nav-tasks-tab" data-bs-toggle="tab" data-bs-target="#nav-tasks" type="button" role="tab" aria-controls="nav-tasks" aria-selected="false">Tasks</button>
			</div>
		</nav>
		<div class="tab-content" id="nav-tabContent">
			<div class="tab-pane fade show active" id="nav-users" role="tabpanel" aria-labelledby="nav-users-tab" tabindex="0">
				<table class="table last-col-small">
					<thead>
						<tr>
							<th>Username</th>
							<th>Role</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody class="placeholder-wave" id="users-tbody">
						<tr>
							<th><span class="placeholder col-12"></span></th>
							<td><span class="placeholder col-12"></span></td>
							<td><span class="placeholder col-12"></span></td>
						</tr>
						<tr>
							<th><span class="placeholder col-12"></span></th>
							<td><span class="placeholder col-12"></span></td>
							<td><span class="placeholder col-12"></span></td>
						</tr>
						<tr>
							<th><span class="placeholder col-12"></span></th>
							<td><span class="placeholder col-12"></span></td>
							<td><span class="placeholder col-12"></span></td>
						</tr>
					</tbody>
				</table>
				<nav aria-label="Users list navigation">
					<ul class="pagination" id="users-pagination">
						<li class="page-item"><a class="page-link disabled" href="#" data-page="prev">Previous</a></li>
						<li class="page-item"><a class="page-link active" href="#" data-page="1">1</a></li>
						<li class="page-item"><a class="page-link disabled" href="#" data-page="next">Next</a></li>
					</ul>
				</nav>
			</div>
			<div class="tab-pane fade" id="nav-categories" role="tabpanel" aria-labelledby="nav-categories-tab" tabindex="0">
				<button class="btn btn-primary mt-3" id="new-category-btn">
					<svg class="bi"><use href="#plus-circle"></use></svg>
					New category
				</button>
				<div class="mt-3 d-none" id="category-editor">
					<h3 id="category-edit-header">New category</h3>
					<form action="/admin/categories" method="post" id="category-form">
						<input type="text" name="descriptionFormat" class="d-none" value="md">
						<div class="mb-3">
							<label for="category-name" class="form-label">Category name</label>
							<input type="text" name="name" id="category-name" class="form-control" required>
						</div>
						<div class="mb-3">
							<div class="d-flex align-items-center justify-content-between">
								<label for="category-description" class="form-label">Description</label>
								<div class="mb-3 d-flex">
									<input type="checkbox" class="btn-check" id="preview-toggle" autocomplete="off">
									<label class="btn btn-outline-secondary btn-sm" for="preview-toggle">
										<svg class="bi"><use href="#eye-fill"></use></svg>
										Preview
									</label>
								</div>
							</div>
							<textarea name="description" id="category-description" rows="3" class="form-control mb-3"></textarea>
							<div id="description-preview" class="border border-1 rounded p-3 pb-0 d-none"></div>
						</div>
						<button type="submit" id="category-btn-submit" class="btn btn-success">Create</button>
						<button type="button" id="category-btn-cancel" class="btn btn-outline-danger">Cancel</button>
					</form>
				</div>
				<div class="accordion my-3" id="categoriesAccordionContainer"></div>
			</div>
			<div class="tab-pane fade" id="nav-tasks" role="tabpanel" aria-labelledby="nav-tasks-tab" tabindex="0">
				<button class="btn btn-primary my-3" id="new-task-btn">
					<svg class="bi"><use href="#plus-circle"></use></svg>
					New task
				</button>
				<div class="mb-3 d-none" id="task-editor">
					<h3 id="task-edit-header">New task</h3>
					<form action="/admin/tasks" method="post" id="task-form">
						<div class="mb-3">
							<label for="task-name" class="form-label">Task name</label>
							<input type="text" name="name" id="task-name" class="form-control" required>
						</div>
						<div class="mb-3">
							<label for="task-category" class="form-label">Category</label>
							<select name="category" id="task-category" class="form-select" required></select>
						</div>
						<div class="mb-3">
							<div class="d-flex align-items-center justify-content-between">
								<label for="task-description" class="form-label">Description</label>
								<div class="mb-3 d-flex">
									<input type="checkbox" class="btn-check" id="task-preview-toggle" autocomplete="off">
									<label class="btn btn-outline-secondary btn-sm" for="task-preview-toggle">
										<svg class="bi"><use href="#eye-fill"></use></svg>
										Preview
									</label>
								</div>
							</div>
							<textarea name="description" id="task-description" rows="3" class="form-control mb-3" required></textarea>
							<div id="task-description-preview" class="border border-1 rounded p-3 pb-0 d-none"></div>
						</div>
						<fieldset class="mb-3">
							<legend class="form-label">Challenge details</legend>
							<div class="mb-3">
								<label for="task-image" class="form-label">Docker image</label>
								<input type="text" name="taskImage" id="task-image" class="form-control" required>
							</div>
							<div class="mb-3">
								<label for="task-subdomain" class="form-label">Subdomain</label>
								<input type="text" name="subdomain" id="task-subdomain" class="form-control" required pattern="[\p{Lower}\p{Emoji}][\p{Lower}\p{Emoji}\-]*">
							</div>
							<div class="mb-2">
								<label for="task-flag" class="form-label">Flag</label>
								<input type="text" name="flag" id="task-flag" class="form-control" required>
							</div>
							<div class="form-check mb-3">
								<input class="form-check-input" type="checkbox" name="flagInEnv" id="task-flagInEnv">
								<label class="form-check-label" for="task-flagInEnv">
									Expose flag as <code>FLAG</code> environmental variable
								</label>
							</div>
							<div class="mb-3">
								<label for="task-interval" class="form-label">Reset interval</label>
								<!--
									https://technology.blog.gov.uk/2020/02/24/why-the-gov-uk-design-system-team-changed-the-input-type-for-numbers/
									https://stackoverflow.blog/2022/12/26/why-the-number-input-is-the-worst-input/
								-->
								<input type="text" name="resetInterval" id="task-interval" class="form-control" inputmode="numeric" pattern="0|[1-9][0-9]*" required aria-describedby="task-interval-help">
								<div id="task-interval-help" class="form-text">
									How often should the task be restarted (in seconds). Set to 0 to disable automatic restart.
								</div>
							</div>
							<fieldset>
								<legend class="form-label">Hints</legend>
								<ol id="task-hints-list"></ol>
								<button type="button" class="btn btn-secondary" id="task-add-hint">Add a hint</button>
							</fieldset>
						</fieldset>
						<div class="mb-3">
							<label for="task-question" class="form-label">Question</label>
							<input type="text" name="question" id="task-question" class="form-control" required aria-describedby="task-question-help">
							<div id="task-question-help" class="form-text">
								Question can contain HTML markup. If code highlighting is required, use the description to render the desired Markdown code block as HTML.
							</div>
						</div>
						<fieldset class="mb-3">
							<legend class="form-label">Answers</legend>
							<div id="answers-container"></div>
							<button type="button" class="btn btn-secondary" id="task-add-answer">Add an answer</button>
						</fieldset>
						<input type="checkbox" class="d-none" name="visible" disabled checked hidden>
						<button type="submit" id="task-btn-submit" class="btn btn-success">Create</button>
						<button type="button" id="task-btn-cancel" class="btn btn-outline-danger">Cancel</button>
					</form>
				</div>
				<section class="mb-3">
					<h2>List of tasks</h2>
					<div class="accordion" id="tasksAccordionContainer"></div>
				</section>
			</div>
		</div>
		<template id="user-row-template">
			<tr>
				<th data-cell-role="username"></th>
				<td data-cell-role="role"></td>
				<td>
					<button class="btn btn-outline-warning" type="button" data-button-action="role" aria-label="Toggle role">
						<svg class="bi"><use href="#person-fill-exclamation"></use></svg>
					</button>
					<button class="btn btn-outline-danger" type="button" data-button-action="delete" aria-label="Delete user">
						<svg class="bi"><use href="#trash-full"></use></svg>
					</button>
				</td>
			</tr>
		</template>
		<template id="pagination-link-template">
			<li class="page-item"><a class="page-link" href="#" data-page=""></a></li>
		</template>
		<template id="category-template">
			<div class="accordion-item">
				<h2 class="accordion-header" id="category-x">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#categoryCollapse-x" aria-expanded="false" aria-controls="categoryCollapse-x">
						Name goes here
					</button>
				</h2>
				<div id="categoryCollapse-x" class="accordion-collapse collapse" aria-labelledby="category-x" data-bs-parent="#categoriesAccordionContainer">
					<div class="accordion-body">
						<div>
							Content is innerHTMLed here
						</div>
						<button type="button" class="btn btn-primary mt-3">
							<svg class="bi"><use href="#pencil-fill"></use></svg>
							Edit category
						</button>
					</div>
				</div>
			</div>
		</template>
		<template id="hint-template">
			<li class="mb-2">
				<div class="input-group">
					<input type="text" name="hint[]" class="form-control" placeholder="Hint" aria-label="Hint" required><%# Mark as required, because hints can always be removed %>
					<button class="btn btn-outline-danger" type="button" aria-label="Delete hint">
						<svg class="bi">
							<use href="#x-lg"></use>
						</svg>
					</button>
				</div>
			</li>
		</template>
		<template id="answer-template">
			<fieldset class="border rounded-2 p-3 pb-0 mb-3">
				<div class="mb-3">
					<label for="task-answer-x-text" class="form-label">Answer</label>
					<input type="text" name="answers[][text]" id="task-answer-x-text" class="form-control" required aria-describedby="task-answer-x-text-help">
					<div id="task-answer-x-text-help" class="form-text">
						Answer can contain HTML markup.
					</div>
				</div>
				<div class="mb-3 form-check">
					<input type="checkbox" name="answers[][correct]" id="task-answer-x-correct" class="form-check-input">
					<label for="task-answer-x-correct" class="form-check-label">Answer is correct</label>
				</div>
				<div class="mb-3 form-check">
					<input type="checkbox" id="task-answer-x-add-challenge" class="form-check-input">
					<label for="task-answer-x-add-challenge" class="form-check-label">Add challenge</label>
				</div>
				<div class="mb-3">
					<label for="task-answer-x-explanation" class="form-label">Explanation</label>
					<input type="text" name="answers[][explanation]" id="task-answer-x-explanation" class="form-control">
				</div>
				<fieldset class="d-none" id="task-answer-x-challenge">
					<legend class="form-label">Challenge details</legend>
					<div class="mb-3">
						<label for="task-answer-x-image" class="form-label">Docker image</label>
						<input type="text" name="answers[][taskImage]" id="task-answer-x-image" class="form-control">
					</div>
					<div class="mb-3">
						<label for="task-answer-x-subdomain" class="form-label">Subdomain</label>
						<input type="text" name="answers[][subdomain]" id="task-answer-x-subdomain" class="form-control" pattern="[\p{Lower}\p{Emoji}][\p{Lower}\p{Emoji}\-]*">
					</div>
					<div class="mb-2">
						<label for="task-answer-x-flag" class="form-label">Flag</label>
						<input type="text" name="answers[][flag]" id="task-answer-x-flag" class="form-control">
					</div>
					<div class="form-check mb-3">
						<input class="form-check-input" type="checkbox" name="answers[][flagInEnv]" id="task-answer-x-flagInEnv">
						<label class="form-check-label" for="task-answer-x-flagInEnv">
							Expose flag as <code>FLAG</code> environmental variable
						</label>
					</div>
					<div class="mb-3">
						<label for="task-answer-x-interval" class="form-label">Reset interval</label>
						<input type="text" name="answers[][resetInterval]" id="task-answer-x-interval" class="form-control" inputmode="numeric" pattern="0|[1-9][0-9]*" aria-describedby="task-answer-x-interval-help">
						<div id="task-answer-x-interval-help" class="form-text">
							How often should the task be restarted (in seconds). Set to 0 to disable automatic restart.
						</div>
					</div>
				</fieldset>
			</fieldset>
		</template>
		<template id="task-item-template">
			<div class="accordion-item">
				<h3 class="accordion-header" id="task-x">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#taskCollapse-x" data-field="name" aria-expanded="false" aria-controls="taskCollapse-x">
						Name goes here
					</button>
				</h3>
				<div id="taskCollapse-x" class="accordion-collapse collapse" aria-labelledby="task-x" data-bs-parent="#tasksAccordionContainer">
					<div class="accordion-body">
						<small>Category: <span data-field="category">XYZ</span></small>
						<div data-field="descriptionRendered" data-raw="true">
							Content is innerHTMLed here
						</div>
						<details data-field="challenge">
							<summary>Challenge details</summary>
							<div class="row">
								<div class="col">Subdomain: <code data-field="challenge.subdomain">xxy</code></div>
								<div class="col">Image: <code data-field="challenge.taskImage">zzw:latest</code></div>
							</div>
							<div class="row">
								<div class="col">Flag: <code data-field="challenge.flag">flag{sadf}</code></div>
								<div class="col">Interval: <code data-field="challenge.resetInterval">60</code></div>
							</div>
						</details>
						<h4>Hints</h4>
						<ul data-field="hints" data-repeat='li[data-arr-target="true"]'>
							<li data-arr-target="true">Hint 2</li>
						</ul>
						<h4>Question</h4>
						<p data-field="question" data-raw="true">Question</p>
						<h4>Answers</h4>
						<ul class="list-unstyled" style="padding-left: 2rem;" data-field="answers" data-repeat="li">
							<li>
								<input type="checkbox" style="margin-left: -1.4rem; margin-right: .2rem;" aria-label="Correct" disabled readonly data-field="answers.correct" data-set-attr="checked">
								<div class="d-inline" data-field="answers.text" data-raw="true">This is the answer</div>
								<p class="mb-0 d-none" data-show-if="answers.explanation">
									<em data-field="answers.explanation">This is the answer explanation</em>
								</p>
								<details class="d-none" data-field="answers.challenge" data-show-if="answers.challenge">
									<summary>Challenge details</summary>
									<div class="row">
										<div class="col">Subdomain: <code data-field="answers.challenge.subdomain">xxy</code></div>
										<div class="col">Image: <code data-field="answers.challenge.taskImage">zzw:latest</code></div>
									</div>
									<div class="row">
										<div class="col">Flag: <code data-field="answers.challenge.flag">flag{sadf}</code></div>
										<div class="col">Interval: <code data-field="answers.challenge.resetInterval">60</code></div>
									</div>
								</details>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</template>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js" integrity="sha512-rdhY3cbXURo13l/WU9VlaRyaIYeJ/KBakckXIvJNAQde8DgpOmE+eZf7ha4vdqVjTtwQt69bD2wH2LXob/LB7Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/5.1.1/marked.min.js" integrity="sha512-geNSPsVaubOv19D7VZY9lJH7MNdRkIq84doaoubf6zknjXsyBQ77XQbqiHX89Mg3e+67E16huocEGUlR4Pgjtg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/marked-gfm-heading-id/3.0.4/index.umd.min.js" integrity="sha512-8ACS5p9yPYWxxs1qD7q8XXzqIMMG1IWPUAs59K7RfWIfjA4kFvgJbVjyqM7YQZocoUsXvjNLz97lEb7OOxSFpg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/marked-highlight/2.0.1/index.umd.min.js" integrity="sha512-De93A12ztsXuIZHPafPLqqm01xvy3MA4+kcOniBPrOKjQQV32J/4/yeIX+YU4PnJIYhGGgElnZ7a4bnaEsXUxg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="/static/js/admin_client.js" type="module"></script>
<%- include("footer") %>
