<%- include("header", { title: "Categories" }) %>
		<h1 class="mb-3">Categories</h1>
		<ul>
			<% for (const { name } of locals.categories) { %>
			<li><a href="/category/<%= encodeURIComponent(name) %>"><%= name %></a></li>
			<% } %>
		</ul>
<%- include("footer") %>
