<%- include("header", { title: "Log in" }) %>
		<h1 class="mb-3">Login</h1>
		<form method="post">
			<div class="mb-3">
				<label for="username" class="form-label">Username:</label>
				<input id="username" class="form-control" type="text" name="username" maxlength="255" required>
			</div>
			<div class="mb-3">
				<label for="password" class="form-label">Password:</label>
				<input id="password" class="form-control" type="password" name="password" maxlength="64" minlength="8" required>
			</div>
			<button type="submit" class="btn btn-primary">Sign in</button>
		</form>
		<a href="/auth/register">Create an account</a>
<%- include("footer") %>
