<%- include("header", { title: "Log in" }) %>
	<form method="post">
		<label for="username">Username:</label>
		<input id="username" type="text" name="username" maxlength="255">
		<label for="password">Password:</label>
		<input id="password" type="password" name="password" maxlength="64" minlength="8">
		<button type="submit">Sign in</button>
	</form>
	<a href="/auth/register">Create an account</a>
<%- include("footer") %>
